.App {
  max-width: 800px;
  margin: 0 auto;
}

.App-header {
  background-color: #508FCA;
  height: 2em;
  padding: 0 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
