@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Lobster');

.Hourly {
  max-width: 750px;
  min-width: 94%;
  margin: auto;
}
.Hourly-header {
  background-color: #0C4DAF;
  height: 1.5em;
  color: #FFF567;
  font-family: Raleway;
  font-size: 1em;
  padding-left: 5%;
  display: flex;
  justify-content: space-between;
}
.Hourly-header-btns-contr {
  display: flex;
}
.Hourly-header button {
  color: #FFF567;
  background: #0C4DAF;
  border: none;
  outline: none;
  cursor: pointer;
}
.Hourly-header button:active {
  color: #FE8700;
}
.Hourly-list {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  font-size: 14px;
  overflow: auto;
  scroll-behavior: smooth;
  font-family: Open Sans;
}
/*.Hourly:-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.Hourly-list::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}*/
.Hourly-list-el {
  margin: 0 0.5em;
  min-width: 15%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Hourly-list-el-temp {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Hourly-list-el-temp img {
  width: 24px;
  height: 24px;
}
.Hourly-list-el-precip {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Hourly-list-el-precip img {
  height: 24px;
  width: 24px;
}
