@import url('https://fonts.googleapis.com/css?family=Lobster|Pacifico|Indie+Flower|Raleway');

.Search {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.Search a {
  padding-left: 5%;
  padding-right: 3%;
  color: #FFF567;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  font-family: Lobster;
  font-size: 1.5em;
}

.Search form {
  margin: 0;
  display: flex;
  align-items: center;
  height: 2em;
}

.Search-form-input  {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 2em;
  border: 1px solid #0C4DAF;
  outline: none;
}

.Search-form-input :active {
  outline: none;
}

.Search-form-input :focus {
  outline: none;
}

.Search-form-button {
  margin: 0;
  height: 2em;
  border: 1px solid #DDD;
  border-left: none;
  cursor: pointer;
  outline: none;
}
