@import url('https://fonts.googleapis.com/css?family=Lobster|Pacifico|Indie+Flower|Raleway');

.start {
  max-width: 800px;
  min-height: 613px;
  margin: 0 auto;
  background: url("./img/Weather.jpg");
  /*background: url("./img/Icon.jpg");*/
  /*background: url("./img/Flash.jpg");*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
}
.start h2 {
  font-family: Raleway;
  font-size: 2em;
  /*color: #939252;*/
  color: #FCB300;
}
